.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  height: auto;
  padding: 0;
  margin: 5px 16px 0px;
  background: #fefefe;
}

.App-content {
  margin: 24px 16px;
  padding: 24;
  min-height: 280;
  background: #fefefe;
}
.App-divTable{
  padding: 5em;
  text-align: center;
  background: #fefefe
}
.App-sider {
  overflow: auto;
  height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
}

.App-link {
  color: #61dafb;
}